@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
    background: linear-gradient(40deg,#83fe1e,#6d8bea,#a1884d,#d63771);
    background-size: 240% 240%;
    animation: gradient-animation 4s ease infinite;
 
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }}
    @media (max-width: 450px) {
        .title{
            font-size: 1.5rem;
        }
        .change{
            font-size: 1.3rem;
        }
     
    
    }